BattleTank/Content/StarterContent/Textures/
BattleTank/Content/StarterContent/Particles/
BattleTank/Content/StarterContent/Materials/
BattleTank/Content/StarterContent/Props/
BattleTank/Content/StarterContent/Shapes/
BattleTank/Content/StarterContent/Blueprints/
BattleTank/Content/StarterContent/Audio/
BattleTank/Content/StarterContent/Maps/
BattleTank/Content/StarterContent/HDRI/
BattleTank/Content/StarterContent/Architecture/
